<div nv-file-drop="" uploader="uploader" filters="queueLimit,MIMEFilter">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <div class="panel">
                <div class="panel-body">
                    <h4 class="page-header mt0">选择文件</h4>
                    <div ng-show="drop && uploader.isHTML5">
                        <!-- 3. nv-file-over uploader="link" over-class="className"-->
                        <div nv-file-over="" uploader="uploader" over-class="bg-info" class="box-placeholder my-drop-zone">拖动文件到这里</div>
                        <!-- Example: nv-file-drop="" uploader="{Object}" options="{Object}" filters="{String}"-->
                        <!--
                        <div nv-file-drop="" uploader="uploader" options="{ url: '/foo' }">
                            <div nv-file-over="" uploader="uploader" over-class="bg-purple" class="box-placeholder my-drop-zone">Another drop zone with its own settings</div>
                        </div>
                        -->
                        <hr/>
                    </div>
                    <!-- Example: nv-file-select="" uploader="{Object}" options="{Object}" filters="{String}"-->

                    <div class="btn btn-block btn-default file_input_container">
                        请选择文件
                        <input filestyle="" type="file" data-button-text="Single" data-class-button="btn btn-default" data-classinput="form-control inline" nv-file-select="" uploader="uploader" multiple="true" class="form-control" />        
                    </div>
                    
                </div>
                </div>
            </div>
            <div style="margin-bottom: 40px" class="col-md-9">
                <div class="panel">
                <div class="panel-body">
                    <p ng-if="uploader.queue.length" class="pull-right label label-info">文件数量: {{ uploader.queue.length }}</p>
                    <h4 class="page-header mt0">上传队列</h4>
                    <p ng-if="!uploader.queue.length" class="lead text-center">没有文件</p>
                    <div ng-if="uploader.queue.length">
                        <table ng-if="uploader.queue.length" class="table">
                            <thead>
                            <tr>
                                <th width="50%">名称</th>
                                <th ng-show="uploader.isHTML5">大小</th>
                                <th ng-show="uploader.isHTML5">进度</th>
                                <th>状态</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="item in uploader.queue">
                                <td>
                                    <strong>{{ item.file.name }}</strong>
                                </td>
                                <td ng-show="uploader.isHTML5" nowrap="">{{ item.file.size/1024/1024|number:2 }} MB</td>
                                <td ng-show="uploader.isHTML5">
                                    <div style="margin-bottom: 0;" class="progress progress-xs">
                                        <div role="progressbar" ng-style="{ 'width': item.progress + '%' }" class="progress-bar"></div>
                                    </div>
                                </td>
                                <td class="text-center">
                                    <span ng-show="item.isSuccess">
                                        <em class="fa fa-check fa-fw"></em>
                                    </span>
                                    <span ng-show="item.isCancel">
                                        <em class="fa fa-ban-circle fa-fw"></em>
                                    </span>
                                    <span ng-show="item.isError">
                                        <em class="fa fa-times fa-fw"></em>
                                    </span>
                                </td>
                                <td nowrap="">
                                    <button type="button" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess" class="btn btn-info btn-xs">
                                        <span class="icon-cloud-upload mr"></span>上传</button>
                                    <button type="button" ng-click="item.cancel()" ng-disabled="!item.isUploading" class="btn btn-warning btn-xs">
                                        <span class="icon-close mr"></span>取消</button>
                                    <button type="button" ng-click="item.remove()" class="btn btn-danger btn-xs">
                                        <span class="icon-trash mr"></span>删除</button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                </div>
                <div class="panel">
                <div class="panel-body">
                    <div>
                        <p>上传进度:</p>
                        <div style="" class="progress progress-xs">
                            <div role="progressbar" ng-style="{ 'width': uploader.progress + '%' }" class="progress-bar"></div>
                        </div>
                    </div>
                    <button type="button" ng-click="uploader.uploadAll()" ng-disabled="!uploader.getNotUploadedItems().length" class="btn btn-info btn-s">
                        <span class="icon-cloud-upload mr"></span>上传全部</button>
                    <button type="button" ng-click="uploader.cancelAll()" ng-disabled="!uploader.isUploading" class="btn btn-warning btn-s">
                        <span class="icon-close mr"></span>取消全部</button>
                    <button type="button" ng-click="uploader.clearQueue()" ng-disabled="!uploader.queue.length" class="btn btn-danger btn-s">
                        <span class="icon-trash mr"></span>删除全部</button>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>